body {
  font-family: Arial, sans-serif;
  background: #000000;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 40px;
  background: white;
  border-radius: 18px;
}

input,
button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
