body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 40px;
  background: white;
  border-radius: 18px;
}

input {
  width: 89%;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

button {
  width: 100%;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

button {
  cursor: pointer;
}
