body {
  font-family: Monospace, sans-serif;
  background: #000000;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 40px;
  background: #c1f9ff;
  border-radius: 18px;
}

input,
button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.marks {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: #111;
  border-radius: 18px;
  color: white;
}

#btn1 {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  text-align: center;

  background: #00bcd4;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;

  box-sizing: border-box;
}

#btn1:hover {
  background: #0097a7;
}


